/* add your CSS here */
p {
	font-size: 13px;
}

ul {
	font-size: 13px;
	padding: 0px;
}

.interesting-fact {
	font-style: italic;
}

.list-items {
	list-style: none;
}

.list-items span {
	font-weight: bold;
}

.outer-border {
	width: 300px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	box-shadow: 5px 5px lightgrey;
}

.info-box-border {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	margin-top: 10px;
	padding: 10px;
}